/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000;
    color: white;
}

.logo img {
    height: 50px;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

nav button:hover {
    color: #3B0076;
}

.search-user {
    display: flex;
    align-items: center;
}

.search-user input {
    padding: 5px;
    margin-right: 10px;
}

.search-user button {
    background-color: #f0a500;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.search-user button:hover {
    background-color: #e59400;
}

/* Carrossel de Imagens */
.carousel {
    position: relative;
    width: 75%;
    max-width: 100%;
    overflow: hidden;
    margin: 20px;
    margin-left: 13%;
}
